@import "node_modules/breakpoint-sass/stylesheets/_breakpoint.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

$header: #ccc;

body{
	background-color: white;

	.headerProfite{
		background-color: $header;
		height: 80px;	
		padding: 25px 0;	
		width: 100%;

		.logoProfite{
			background: url(../img/logo.png);
			background-repeat: no-repeat;
			display: inline-block;
			float: left;
			height: 30px;
			margin: 0px 10px;
			text-indent: -999px;
			width: 106px;
		}

		.buscaHeader{
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(4);
			margin: 0px 100px;

			.inputBuscaHeader{
				border-bottom: 1px solid #7A7A7A;
			}

			.lupa{
				background: url(../img/icon.png);
				background-repeat: no-repeat;
				border:none;
				display: inline-block;
				height: 30px;
				margin: 8px 0;
				text-indent: -9999px;
				width: 30px;
			}
		}

		.menuUsuario{
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(2);
			border-right: 2px solid red;


			.minhaConta{
				color: #7A7A7A;
				display: inline-block;
				font-size: 13px;
				margin: 0 20px 0 0;
			}
			.qtdadeCompras{
				background: #2ec4b6;
				border-radius: 50%;
				color: #fff;
				font-size: 10px;
				display: inline-block;
				padding: 2px 6px;
			}
		}

		.menuBandeiras{
			@include make-xs-column(12);
			@include make-sm-column(12);
			@include make-md-column(2);
			.banES{
				margin: 0 10px;
			}
		}
	}
}